<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>03-08</title>
<style>
    #list  { width: 400px; border:1px solid black; border-collapse:collapse; }
    #list td, #list th { border:1px solid black;  text-align:center; }
    #list > thead > tr { color:yellow; background-color: purple; }
</style>
</head>
<body>
    <div id="example">
        <p>
        <!-- v-model:name
       	name로 입력하는 내용에 따라서 데이터를 검색처리하기 위해. 
       	watch 속성에 선언되어 있어서, 입력값에 따라서 처리하는 메서드를
       	매개변수와 함께 넘겨준다.
         -->
        이름 : <input type="text" v-model="name" placeholder="두글자 이상을 입력하세요" />
        </p>
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th><th>이름</th><th>전화번호</th><th>주소</th>
                </tr>
            </thead>
            <tbody id="contacts" >
                <tr v-for="contact in contactlist">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
            </tbody>
        </table>
        
        <!-- 해당 조건이 맞을때만 화면에 랜더링하여 보여준다. -->
        <div v-show="isProcessing === true">조회중</div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
<script type="text/javascript">
var vm = new Vue({
    el : '#example',
    data : {
        name : "",
        isProcessing : false,
        contactlist : []
    },
    watch : {
        name : function(val) {
        	// 입력된 글자가 2개이상일때,,
            if (val.length >= 2) {
            	// this.메서드명() :
            	// 속성으로 methods:{메서드명:function(){}}를 처리한다.
                this.fetchContacts();
            } else {
                this.contactlist = [];
            }
        }
    },
    methods : {
    	// _.debounce(함수, 1/1000); 이벤트를 해당 시간의 간격으로 처리해준다.
        fetchContacts : _.debounce(function() {
            this.contactlist = [];
            this.isProcessing = true;
            var url = "http://sample.bmaster.kro.kr/contacts_long/search/"
                 + this.name;
			//var param="pageno=1&pagesize=5";
			//var url="http://sample.bmaster.kro.kr/contacts_long?"+param;
            alert(url);
            var vm = this;
            // fetch(접속할 주소).then(함수1).then(함수2).catch(함수3);
            // 함수1에서는 접속한 서버에서 가져온 데이터를 promise 객체로 가져온다.
            // 함수2에서는 접속이 성공했을 때, promise에 있는 json객체를 가져온다.
            //     비동기적으로 가져온 데이터를 model객체에 mapping 시킨다.
            // 함수3에서는 서버접속이 실패했을 때, 에러 코드에 대한 내용을 매개변수로
            //     받는다..
            fetch(url)
                .then(function(response) {
                	//alert(response.json());
                    return response.json()
                }).then(function(json) {
                    vm.contactlist = json;
                    
                    vm.isProcessing = false;
                }).catch(function(ex) {
                    console.log('parsing failed', ex);
                    vm.contactlist = [];
                    vm.isProcessing = false;
                })

        }, 300)
        /// 0.3초 내에 발생한 이벤트는 한번만 처리한다. 중복처리 방지....
    }
})
</script>
</body>
</html>
