<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>04-08</title>
  <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
      .layout1 { margin:30px 30px 30px 30px; }
  </style>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>
<body>
	<!--
		ex)
		구매 목록 처리
		물건명 : [ ]
		가격 : [ ]
		갯수 : [ ]
		[구매] [초기값설정]
		구매 클릭시 구매한 물건과 총비용 @@ 초기값설정 model-데이터 초기화

	-->
<div id="example" class="container layout1">
	<p>물건명 <input type="text" v-model="item" class="form-control" /></p>
	<p>가격 <input type="text" v-model="price" class="form-control" /></p>
	<p>갯수 <input type="text" v-model="cnt" class="form-control" /></p>
    
    <p>
		<!--
			v-on:click.onec : 해당요소객체에 이벤트가 한번한 발생하게 하는것을 말한다.
		-->        
        <button id="calc" v-on:click="calc()" class="btn btn-primary">구매</button>
        <button id="init" v-on:click="init()" class="btn btn-primary">초기값설정</button>
		
    </p>            
	<h3>{{ctxt}} </h3>
	
</div>
<script type="text/javascript">
var vm = new Vue({
  el : "#example",
  data : {
    item : '',
	price : 0,
	cnt : 0,
	ctxt : ''
  },
  methods : {
	  init : function(e) {
		  this.item = '';
		  this.price = 0;
		  this.cnt = 0;
		  this.ctxt = '';
	  },
	  calc : function(e) {
		this.ctxt = this.item + '을 ' + this.price +'원에 ' + this.cnt + '개 구매하였습니다.';
	  }
	  /*
	//vue에 정의된 함수를 호출하여 처리한다. 
    specialEvent : function(e) {
        this.balance += 10000;
    },
    deposit : function(e) {
        var amt = parseInt(this.amount);
        if (amt <= 0) {
            alert("0보다 큰 값을 예금해야 합니다");
        } else {
            this.balance += amt;
        }
    }, 
    withdraw : function(e) {
        var amt = parseInt(this.amount);
        if (amt <= 0) {
            alert("0보다 큰 값을 인출할 수 있습니다");
        } else if (amt > this.balance) {
            alert("잔고보다 많은 금액을 인출할 수 없습니다");
        } else {
            this.balance -= amt;
        }
	}
	*/
  }
})
</script>
</body>
</html>